.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: auto;
  font-size: 1.3rem;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
}